@import './assets/config-scss/variables.scss';
@import './assets/config-scss/reset.scss';
@import './assets/config-scss/rem-calc.scss';
@import './assets/config-scss/btn.scss';
@import './assets/config-scss/animation.scss';


html{
    font-family: 'Roboto', sans-serif;
    background: var(--primary-color);
}

main{
    max-width: rem-calc(600);
    margin: 0 auto;
    box-sizing: border-box;
}